<div>
    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post">
                        <label class="search-bar-label">艺人：</label>
                        <div class="select-down-wrapper">
                            <div class="select-down-showitem">
                                <input type='text' class="select-down-left" id="txt" placeholder="关键字">
                                <div class="icon-black-find"></div>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="search-bar-li">
                    <a href="#/shooting/actorAdd" class="ezc-btn-green search-bar-tips ft16">添加艺人</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">
        <table class="eza-table-fixed-header pb5">
            <thead>
                <col width="5%">
                <col width="15%">
                <col width="10%">
                <col width="5%">
                <col width="15%">
                <col width="15%">
                <col width="8%">
                <col width="8%">
                <col width="8%">
                <col width="11%">
                <tr>
                    <th>编号</th>
                    <th>艺名</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>经纪人</th>
                    <th>电话</th>
                    <th>年龄</th>
                    <th>身高</th>
                    <th></th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
        <div class="table-body-box">
            <table class="eza-table">
                <col width="5%">
                <col width="15%">
                <col width="10%">
                <col width="5%">
                <col width="15%">
                <col width="15%">
                <col width="8%">
                <col width="8%">
                <col width="8%">
                <col width="11%">
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxx</td>
                    <td>xxxxxx</td>
                    <td>男</td>
                    <td>xxx</td>
                    <td>xxxxxxxxxxx</td>
                    <td>18</td>
                    <td>180</td>
                    <td>
                        <a class="ezc-font-blue small" href="javascript:void(0)">详情</a>
                    </td>
                    <td>
                        <a class="ezc-font-blue small new-actor-btn" href="javascript:void(0)">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)">首页</a>
            <span class="prev disable"></span>
            <span class="current">1</span>
            <a href="#">2</a>
            <span>...</span>
            <a href="#">6</a>
            <a href="#" class="next"></a>
        </div>

    </div>
</div>
<script type="text/template" id="newActorBox">
    <ul class="newActorBoxUL">
        <li class="cl">
            <label class="addProgressAdminBox-label">开始日期：</label>
            <dl class="addProgressAdminBox-date-box cl" id="shootEditDateInputBox1">
                <dt>
                    <i class="icon-rili"></i>
                </dt>
                <dd>
                    <input type="text" class="layui-input addProgressAdmin-dateinput" placeholder="yyyy-MM-dd" id="shootEditDateInput1">
                </dd>
            </dl>
        </li>
        <li class="cl">
            <label class="addProgressAdminBox-label">结束日期：</label>
            <dl class="addProgressAdminBox-date-box cl" id="shootEditDateInputBox2">
                <dt>
                    <i class="icon-rili"></i>
                </dt>
                <dd>
                    <input type="text" class="layui-input addProgressAdmin-dateinput" placeholder="yyyy-MM-dd" id="shootEditDateInput2">
                </dd>
            </dl>
        </li>
        <li class="cl">
            <form action="" method="post">
                <label class="search-bar-label">是否有空：</label>
                <div class="gray-selcet-box mr10">
                    <select name="" id="haveFreeTime">
                        <option value="1">可安排</option>
                        <option value="2">暂无时间</option>
                    </select>
                </div>
            </form>
        </li>
    </ul>
</script>
<script>
    $(function () {
        $('.table-body-box').height($(window).height() - 260);

        $('.new-actor-btn').click(function () {
            var dialog = new QAQ.Dialog({
                id: 'new-actor-dialog',
                title: '编辑',
                content: $('#newActorBox').html(),
                width: 502,
                buttons: [{
                        name: '保存',
                        cls: 'btn-primary', //可选 自定义按钮css类
                        click: function () {
                            //do something
                            dialog.close();
                        }
                    },
                    {
                        name: '取消',
                        cls: 'btn-danger', //可选 自定义按钮css类
                        click: function () {
                            var dialog = this;
                            //do something
                            dialog.close();
                        }
                    }
                ],
                success: function () {
                    $('#haveFreeTime').fancySelect();
                    lay('.layui-input').each(function () {
                        var s = this;
                        laydate.render({
                            elem: s,
                            trigger: 'click'
                        });
                    });
                }
            });
        });

        $(window).resize(function () {
            $('.table-body-box').height($(window).height() - 260);
        })
    })
</script>