<div>
    <style>


    </style>
    <div class="pageBody mt40 cl">
        <div class="eza-table-caption1 cl">
            <a class="ezc-btn-red fr">取消</a>
            <button type="button" class="ezc-btn-green fr">保存</button>
        </div>
        <div class="pageBody-left">
            <table class="locationDetail-table" cellpadding="0" cellspacing="0">
                <tr height="44">
                    <th width="95">场景名称：</th>
                    <td>
                        <input type="text" class="eza-input loc-name">
                    </td>
                </tr>
                <tr height="44">
                    <th>　联系人：</th>
                    <td>
                        <input type="text" class="eza-input mr10 loc-contact"> <input type="text" class="eza-input loc-contact">
                    </td>
                </tr>
                <tr height="128">
                    <th>　　地址：</th>
                    <td>
                        <div class="mb10 cl">
                            <div class="mr10 black-select-box">
                                <select name="" id="countrySelect">
                                    <option value="1">中国</option>
                                </select>
                            </div>
                            <div class="mr10 black-select-box">
                                <select name="" id="provinceSelect">
                                    <option value="1">浙江</option>
                                </select>
                            </div>
                            <div class="mr10 black-select-box">
                                <select name="" id="citySelect">
                                    <option value="1">杭州</option>
                                </select>
                            </div>
                            <div class="mr10 black-select-box">
                                <select name="" id="areaSelect">
                                    <option value="1">西湖</option>
                                </select>
                            </div>
                        </div>
                        <div class="eza-textarea-box-loc">
                            <textarea name="" class="eaz-textarea" placeholder="请输入详细地址"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>场景描述：</th>
                    <td>
                        <div class="eza-textarea-box-loc">
                            <textarea name="" class="eaz-textarea"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>注意事项：</th>
                    <td>
                        <div class="eza-textarea-box-loc">
                            <textarea name="" class="eaz-textarea"></textarea>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

        <div class="pageBody-right">

            <ul class="upload-box">
                <li class="upload-btn-li" id="uploadBtn">
                    <div class="upload-pic-btn">
                        <img src="assets/image/eaz_upload_photo.png" alt="">
                    </div>
                    <a href="javascript:void(0)" class="upload-pic-font">上传图片</a>
                </li>
                <li>
                    <div class="pic-show-box" style="background-image: url(assets/image/pic/rb1.jpg)">
                    </div>
                    <div class="cl">
                        <span class="gray-txt">2017-09-09</span>
                        <a href="javascript:void(0)" class="ezc-font-red small fr">删除</a>
                    </div>
                </li>
                <li>
                    <div class="pic-show-box" style="background-image: url(assets/image/pic/rb1.jpg)">
                    </div>
                    <div class="cl">
                        <span class="gray-txt">2017-09-09</span>
                        <a href="javascript:void(0)" class="ezc-font-red small fr">删除</a>
                    </div>
                </li>
                <li>
                    <div class="pic-show-box" style="background-image: url(assets/image/pic/rb1.jpg)">
                    </div>
                    <div class="cl">
                        <span class="gray-txt">2017-09-09</span>
                        <a href="javascript:void(0)" class="ezc-font-red small fr">删除</a>
                    </div>
                </li>
                <li>
                    <div class="pic-show-box" style="background-image: url(assets/image/pic/rb1.jpg)">
                    </div>
                    <div class="cl">
                        <span class="gray-txt">2017-09-09</span>
                        <a href="javascript:void(0)" class="ezc-font-red small fr">删除</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>

<script id="locUploadAddBox" type="text/template">
    <div class="upload-img-wrapper">
        <div class="upload-img-box">
            <img src="assets/image/eaz_upload_photo.png" alt="">
        </div>
        <a href="javascript:void(0)" class="gray-txt">上传图片</a>
        <input type="file" class="upload-img-file">
    </div>
    <div class="upload-date-wrapper cl">
        <lable class="search-bar-label mr10">拍摄时间：</lable>
        <dl class="editShootingBox-date-box cl" id="shootEditDateInputBox1">
            <dt>
                <i class="icon-rili"></i>
            </dt>
            <dd>
                <input type="text" class="layui-input shootEdit-dateinput ft16" placeholder="yyyy-MM-dd" id="shootEditDateInput1" lay-key="1">
            </dd>
        </dl>
    </div>
</script>

<script>
    $(function () {
        $('#countrySelect').fancySelect();
        $('#provinceSelect').fancySelect();
        $('#citySelect').fancySelect();
        $('#areaSelect').fancySelect();


        $('#uploadBtn').click(function () {
            var dialog = new QAQ.Dialog({
                title: '上传',
                width:502,
                height:226,
                content:$('#locUploadAddBox').html(),
                buttons: [{
                    name: '保存',
                    cls: 'btn-primary', //可选 自定义按钮css类
                    click: function () {
                        //表单提交自己写
                        dialog.close();
                    }
                },
                    {
                        name: '取消',
                        cls: 'btn-danger', //可选 自定义按钮css类
                        click: function () {
                            this.close();
                        }
                    }
                ],
                success: function () {
                }
            });
        });

    })
</script>