<div>

    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post">
                        <label class="search-bar-label">地点：</label>
                        <select name="" class="eza-input-select w120">
                            <option value="1">北京</option>
                            <option value="1">乌鲁木齐</option>
                        </select>

                        <label class="search-bar-label ml10">场景分类：</label>
                        <select name="" class="eza-input-select ">
                            <option value="1">摄影棚</option>
                        </select>

                        <label class="search-bar-label ml10">风格：</label>
                        <select name="" class="eza-input-select ">
                            <option value="1">现代</option>
                        </select>

                        <label class="search-bar-label ml10">剧本名称：</label>
                        <div class="select-down-wrapper">
                            <div class="select-down-showitem">
                                <input type='text' class="select-down-left" id="txt" placeholder="哈哈">
                                <div class="icon-black-find"></div>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="search-bar-li">
                    <a href="#/shooting/locationDetailAdd" class="ezc-btn-green search-bar-tips ft16">新建</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">
        <table class="eza-table-fixed-header">
            <thead>
                <col width="5%">
                <col width="8%">
                <col width="8%">
                <col width="15%">
                <col width="27%">
                <col width="8%">
                <col width="10%">
                <col width="19%">
                <tr>
                    <th>序号</th>
                    <th>场景分类</th>
                    <th>风格</th>
                    <th>场景名称</th>
                    <th>地址</th>
                    <th>联系人</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
        <div class="table-body-box">
            <table class="eza-table">
                <col width="5%">
                <col width="8%">
                <col width="8%">
                <col width="15%">
                <col width="27%">
                <col width="8%">
                <col width="10%">
                <col width="19%">
                <tr>
                    <td>1</td>
                    <td>摄影棚</td>
                    <td>现代</td>
                    <td>乌鲁木齐大草原</td>
                    <td>乌鲁木齐大草原乌鲁木齐大草原乌鲁木齐大草原</td>
                    <td>shelfiawo</td>
                    <td>18410127723</td>
                    <td>
                        <a class="ezc-font-blue small" href="#/shooting/locationDetail">详情</a>
                        <a class="ezc-font-orange small" href="#/shooting/locationDetail">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>摄影棚</td>
                    <td>现代</td>
                    <td>乌鲁木齐大草原</td>
                    <td>乌鲁木齐大草原乌鲁木齐大草原乌鲁木齐大草原</td>
                    <td>shelfiawo</td>
                    <td>18410127723</td>
                    <td>
                        <a class="ezc-font-blue small" href="#/shooting/locationDetail">详情</a>
                        <a class="ezc-font-orange small" href="#/shooting/locationDetail">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)">首页</a>
            <span class="prev disable"></span>
            <span class="current">1</span>
            <a href="#">2</a>
            <span>...</span>
            <a href="#">6</a>
            <a href="#" class="next"></a>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('.table-body-box').height($(window).height() - 270);
        $(window).resize(function () {
            $('.table-body-box').height($(window).height() - 270);
        })
    })
</script>