<div>
    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post">
                        <label class="search-bar-label">团队：</label>
                        <select id="teamSelect">
                            <option value="">木人</option>
                            <option value="一月">一月</option>
                            <option value="二月">二月</option>
                            <option value="三月">三月</option>
                            <option value="四月">四月</option>
                            <option value="五月">五月</option>
                            <option value="六月">六月</option>
                            <option value="七月">七月</option>
                            <option value="八月">八月</option>
                            <option value="九月">九月</option>
                            <option value="十月">十月</option>
                            <option value="十一月">十一月</option>
                            <option value="十二月">十二月</option>
                        </select>
                    </form>
                </li>
                <li class="search-bar-li">
                    <a href="javascript:void(0)" class="ezc-btn-green search-bar-tips ft16" id="newTeamBtn">新建团队</a>
                </li>
                <li class="search-bar-li">
                    <a href="javascript:void(0)" class="ezc-btn-blue search-bar-tips ft16"  id="updateTeamBtn">组名变更</a>
                </li>
                <li class="search-bar-li progress-li-fr">
                    <a href="#/shooting/teamBuildingImport" class="ezc-btn-green search-bar-tips ft16">添加组员</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">
        <table class="eza-table-fixed-header pb5">
            <thead>
                <col width="5%">
                <col width="15%">
                <col width="5%">
                <col width="14%">
                <col width="13%">
                <col width="13%">
                <col width="5%">
                <col width="15%">
                <col width="20%">
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>组名</th>
                    <th>别名</th>
                    <th>职位</th>
                    <th>领导</th>
                    <th>电话</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
        <div class="table-body-box">
            <table class="eza-table">
                <col width="5%">
                <col width="15%">
                <col width="5%">
                <col width="14%">
                <col width="13%">
                <col width="13%">
                <col width="5%">
                <col width="15%">
                <col width="20%">
                <tr>
                    <td>1</td>
                    <td>迪丽热巴</td>
                    <td>男</td>
                    <td>A组</td>
                    <td>木人</td>
                    <td>摄影师</td>
                    <td>是</td>
                    <td>18410127723</td>
                    <td>
                        <a class="ezc-font-orange small" href="#/shooting/teamBuildingAdd">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>迪丽热巴</td>
                    <td>男</td>
                    <td>A组</td>
                    <td>木人</td>
                    <td>摄影师</td>
                    <td>是</td>
                    <td>18410127723</td>
                    <td>
                        <a class="ezc-font-orange small" href="#/shooting/teamBuildingAdd">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)">首页</a>
            <span class="prev disable"></span>
            <span class="current">1</span>
            <a href="#">2</a>
            <span>...</span>
            <a href="#">6</a>
            <a href="#" class="next"></a>
        </div>

    </div>
</div>
<script id="newTeamBox" type="text/template">
    <ul class="newTeam-ul cl">
        <li class="cl">
            <label class="newTeam-label">团队名称：</label>
            <input type="text" class="newTeam-input1">
        </li>
        <li class="cl">
            <label class="newTeam-label">团队别名：</label>
            <input type="text" class="newTeam-input1">
        </li>
    </ul>
</script>
<script>
    $(function () {
        $('.table-body-box').height($(window).height() - 270);
        //团队下拉框
        $('#teamSelect').comboSelect({
            comboClass: 'combo-select pr',
            inputClass: 'roleName-input'
        });

        $('#newTeamBtn').click(function () {
            var dialog = new QAQ.Dialog({
                title: '添加',
                content: $('#newTeamBox').html(),
                width: 502,
                buttons: [{
                    name: '确定',
                    cls: 'btn-success', //可选 自定义按钮css类
                    click: function () {
                        //do something
                        dialog.close();
                    }
                },
                    {
                        name: '取消',
                        cls: 'btn-danger', //可选 自定义按钮css类
                        click: function () {
                            var dialog = this;
                            //do something
                            dialog.close();
                        }
                    }
                ],
                success: function () {
                }
            });
        });

        $('#updateTeamBtn').click(function () {
            var dialog = new QAQ.Dialog({
                title: '添加',
                content: $('#newTeamBox').html(),
                width: 502,
                buttons: [{
                    name: '确定',
                    cls: 'btn-success', //可选 自定义按钮css类
                    click: function () {
                        //do something
                        dialog.close();
                    }
                },
                    {
                        name: '取消',
                        cls: 'btn-danger', //可选 自定义按钮css类
                        click: function () {
                            var dialog = this;
                            //do something
                            dialog.close();
                        }
                    }
                ],
                success: function () {
                    //记得用off('click')再on
                }
            });
        });

        $(window).resize(function () {
            $('.table-body-box').height($(window).height() - 270);
        })
    })
</script>