<div>
    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post">
                        <label class="search-bar-label">地点：</label>

                        <div class="mr20 gray-select-box">
                            <select name="" id="countrySelect">
                                <option value="1">中国</option>
                            </select>
                        </div>
                        <label class="search-bar-label ml10">场景分类：</label>

                        <div class="mr20 gray-select-box">
                            <select name="" id="scenePlay">
                                <option value="1">摄影棚</option>
                            </select>
                        </div>
                        <label class="search-bar-label ml10">风格：</label>
                        <div class="mr20 gray-select-box">
                            <select name="" id="stylePlay">
                                <option value="1">现代</option>
                            </select>
                        </div>

                        <div class="select-down-wrapper">
                            <div class="select-down-showitem">
                                <input type='text' class="select-down-left" id="txt" placeholder="哈哈">
                                <div class="icon-black-find"></div>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="search-bar-li">
                    <a href="#/shooting/teamBuildingAdd" class="ezc-btn-green search-bar-tips ft16">新建</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">
        <table class="eza-table-fixed-header">
            <thead>
            <col width="5%">
            <col width="15%">
            <col width="5%">
            <col width="14%">
            <col width="13%">
            <col width="13%">
            <col width="5%">
            <col width="15%">
            <col width="20%">
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>组名</th>
                <th>别名</th>
                <th>职位</th>
                <th>领导</th>
                <th>电话</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
        <div class="table-body-box">
            <table class="eza-table">
                <col width="5%">
                <col width="15%">
                <col width="5%">
                <col width="14%">
                <col width="13%">
                <col width="13%">
                <col width="5%">
                <col width="15%">
                <col width="20%">
                <tr>
                    <td>1</td>
                    <td>迪丽热巴</td>
                    <td>男</td>
                    <td>A组</td>
                    <td>木人</td>
                    <td>摄影师</td>
                    <td>是</td>
                    <td>18410127723</td>
                    <td>
                        <a class="ezc-font-orange small" href="#/shooting/teamBuildingAdd">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>迪丽热巴</td>
                    <td>男</td>
                    <td>A组</td>
                    <td>木人</td>
                    <td>摄影师</td>
                    <td>是</td>
                    <td>18410127723</td>
                    <td>
                        <a class="ezc-font-orange small" href="#/shooting/teamBuildingAdd">修改</a>
                        <a class="ezc-font-red small" href="javascript:void(0)">删除</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)">首页</a>
            <span class="prev disable"></span>
            <span class="current">1</span>
            <a href="#">2</a>
            <span>...</span>
            <a href="#">6</a>
            <a href="#" class="next"></a>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('.table-body-box').height($(window).height() - 270);
        $('#countrySelect').fancySelect();
        $('#scenePlay').fancySelect();
        $('#stylePlay').fancySelect();
        $(window).resize(function () {
            $('.table-body-box').height($(window).height() - 270);
        })
    })
</script>