<div class="center-password-box" ng-controller="resetPassword">
        <table>
            <tr>
                <td><span class="red-star">*</span>用户名</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="red-star">*</span>旧密码</td>
            </tr>
            <tr>
                <td><span class="red-star">*</span>新密码</td>
            </tr>
            <tr>
                <td><span class="red-star">*</span>确认密码</td>
            </tr>
        </table>
</div>