<meta charset="utf-8">
<div ng-controller="editorChange">
    <div class="drama-init">
        <header class="drama-edit-title">剧本编辑-编辑</header>
        <p class="drama-edit-text"><span class="drama-edit-name">让子弹飞一会</span><span class="drama-edit-name1">（电影）</span>
            &nbsp;&nbsp;<span>XXXXXX版本</span> &nbsp;&nbsp;<span>第一场第四集</span></p>
        <form action="" method="post">
            <label class="drama-edit-label1">场景：</label><textarea class="drama-edit-yard"></textarea><br/>
            <label class="drama-edit-label3">气氛：</label>
            <select class="drama-edit-select1" name="" id="">
                <option value="">日</option>
            </select>
            <select class="drama-edit-select2" name="" id="">
                <option value="">夜</option>
            </select><br/>
            <label class="drama-edit-label2">内容：</label>
            <textarea class="drama-edit-content" placeholder="请输入剧本内容" ></textarea>
        </form>
    </div>
</div>