<meta charset="utf-8">
<div ng-controller="editorAdd">
    <div class="drama-init">
        <header class="drama-edit-title">剧本编辑-添加</header>
        <p class="drama-edit-text"><span class="drama-edit-name">让子弹飞一会</span><span class="drama-edit-name1">（电影）</span>
            &nbsp;&nbsp;<span>XXXXXX版本</span></p>
        <form action="" method="post">
            <p style="height: 46px">
                <label class="drama-edit-label3">剧集：</label>
                <select class="drama-edit-select1" name="" id="">
                    <option value="">40-1</option>
                </select>
            </p>
            <label class="drama-edit-label4">场景：</label><textarea class="drama-edit-yard"></textarea><br/>
            <label class="drama-edit-label3">气氛：</label>
            <select class="drama-edit-select1" name="" id="">
                <option value="">日</option>
            </select>
            <select class="drama-edit-select2" name="" id="">
                <option value="" selected="selected">内</option>
                <option value="">内景</option>
                <option value="">外景</option>
                <option value="">内外景</option>
            </select><br/>
            <label class="drama-edit-label2">内容：</label>
            <textarea class="drama-edit-content" placeholder="请输入剧本内容" ></textarea>
        </form>
    </div>
</div>