<meta charset="utf-8">
<div>

    <div class="pageTitle">
        <p class="page-title editor-title">剧本编辑</p>
    </div>


    <div class="pageBody cl">

        <div class="pageBody-left2">
            <div class="eza-table-caption">
                <span class="big-title">让子弹飞一会</span>
                <span class="sub-title">(电影)</span>
                <span class="tips-select">
                    <form action="" method="post">
                        <label class="search-bar-label">版本：</label>
                        <div class="gray-selcet-box mr10">
                            <select name="" id="versionSelect">
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                    </form>
                </span>
                <span class="tips-title">总集数：100集</span>
                <span class="tips-title">总场数：100场</span>
            </div>
            <div class="search-bar">
                <ul class="search-bar-ul cl">
                    <li class="search-bar-li">
                        <form action="" method="post">
                            <label class="search-bar-label">场号：</label>
                            <div class="gray-selcet-box mr10">
                                <select name="" id="sceneNum">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <div class="select-down-wrapper">
                                <div class="select-down-showitem">
                                    <input type='text' class="select-down-left" id="txt" placeholder="哈哈">
                                    <div class="icon-black-find"></div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
            <table class="eza-table-fixed-header">
                <thead>
                    <col width="10%">
                    <col width="40%">
                    <col width="15%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <tr>
                        <th>场号</th>
                        <th>场景</th>
                        <th>气氛</th>
                        <th>剧本占比</th>
                        <th colspan="2" align="center">操作</th>
                    </tr>
                </thead>
            </table>
            <div class="table-body-box">
                <table class="eza-table">
                    <col width="10%">
                    <col width="40%">
                    <col width="15%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <tr>
                        <td>1-1</td>
                        <td>外婆家</td>
                        <td>日/外</td>
                        <td>3.75%</td>
                        <td>
                            <a class="ezc-font-blue small" href="">编辑</a>
                        </td>
                        <td>
                            <a class="ezc-font-green small" href="#/play/editorAdd">添加</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1-1</td>
                        <td>外婆家</td>
                        <td>日/外</td>
                        <td>3.75%</td>
                        <td>
                            <a class="ezc-font-blue small" href="">编辑</a>
                        </td>
                        <td>
                            <a class="ezc-font-green small" href="#/play/editorAdd">添加</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1-1</td>
                        <td>外婆家</td>
                        <td>日/外</td>
                        <td>3.75%</td>
                        <td>
                            <a class="ezc-font-blue small" href="">编辑</a>
                        </td>
                        <td>
                            <a class="ezc-font-green small" href="#/play/editorAdd">添加</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1-1</td>
                        <td>外婆家</td>
                        <td>日/外</td>
                        <td>3.75%</td>
                        <td>
                            <a class="ezc-font-blue small" href="">编辑</a>
                        </td>
                        <td>
                            <a class="ezc-font-green small" href="#/play/editorAdd">添加</a>
                        </td>
                    </tr>
                    <tr>
                        <td>1/15</td>
                        <td>--</td>
                        <td>--</td>
                        <td>15%</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                </table>
            </div>

            <div class="pagination">
                <a href="javascript:void(0)">首页</a>
                <span class="prev disable"></span>
                <span class="current">1</span>
                <a href="#">2</a>
                <span>...</span>
                <a href="#">6</a>
                <a href="#" class="next"></a>
            </div>

        </div>

        <div class="pageBody-right2">
            <div class="playApprovalDetail-btns-box">
                <button type="button" class="ezc-btn-blue mr20">提交审核</button>
            </div>

            <div class="ez-content-box">
                <pre style="font-size:14px;line-height:36px;">
    首先明确一点，剧本区别于任何一种文体形式，我经常看到有的朋友把剧本写成了小说或人物传记，这是不对的，至少是不专业的。剧本有自己专署的格式，写剧本从某种程度上说是个技术活。
    写剧本也不是什么很崇高的艺术创作，这只是一个普通的工种，剧作家和清洁工人没什么区别，都是很普通的工作而已，所以每个人都可以写剧本，每个人都可以当导演。当然，既然是一个工种，就有自己的规范。这些规范也许不会让你迅速变成一个专家，但至少能使你看上去像一个专家。或者，不至于让你糟糕的格式成为审稿人枪毙你稿子的理由。因为一个审稿人每天要看三到四篇稿子，如果你的剧本格式看上去不怎么专业的话，他完全有理由翻上几页就把你的剧本扔在角落里凉快。　　先来看看剧本写作常犯的错误：
    Ｉ：把剧本写成了小说
刚刚上面提到有的朋友把剧本写成了小说，不是不可以，但那个是文学剧本，根本不能用来指导拍摄和制作。举个例子，你可以在小说里花几页的笔墨来写一个人的身世，背景，家庭组成，或是用几页的笔墨来描写主角的心理斗争过程，但这些东西是无法表现在电影屏幕上的。你的剧本就是一个屏幕，你所要表现的是电影屏幕上能被观众直接看到感受到的东西。像心理活动这类东西是无法很好的表现出来的。加旁白？当然可以，除非你能忍受主角的画外音在一动不动的镜头里读几页小说。电影*画面表达情绪，你的剧本就是电影画面，要通过摄像机的角度来写，这可能引起第二个问题。
                </pre>
            </div>
        </div>

    </div>
</div>
<script>
    $(function () {
        $('#versionSelect').fancySelect();
        $('#sceneNum').fancySelect();
        //     $('.table-body-box').height($(window).height() - 400);
        //     $('.ez-content-box').height($(window).height() - 250);
        //     $(window).resize(function () {
        //         $('.table-body-box').height($(window).height() - 400);
        //         $('.ez-content-box').height($(window).height() - 250);
        //     })
    })
</script>