<meta charset="utf-8">
<div ng-controller="playApproval">

    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post">
                        <label class="search-bar-label">剧本名称：</label>
                        <div class="select-down-wrapper">
                            <div class="select-down-showitem">
                                <input type='text' class="select-down-left" id="txt" placeholder="哈哈">
                                <div class="icon-black-find"></div>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">
        <table class="eza-table-fixed-header">
            <thead>
            <col width="10%"><col width="30%"><col width="15%">
            <col width="15%"><col width="15%"><col width="15%">
            <tr>
                <th>序号</th>
                <th>剧本名称</th>
                <th>总集数</th>
                <th>总场次</th>
                <th>审核状态</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
        <div class="table-body-box">
            <table class="eza-table">
                <col width="10%"><col width="30%"><col width="15%">
                <col width="15%"><col width="15%"><col width="15%">
                <tr>
                    <td>1</td>
                    <td>瓤子氮肥瓤子氮肥瓤子氮肥瓤子氮肥</td>
                    <td>10</td>
                    <td>50</td>
                    <td>待审核</td>
                    <td>
                        <a class="ezc-font-blue mr10" href="#/play/playApprovalDetail">查看</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>瓤子氮肥瓤子氮肥瓤子氮肥瓤子氮肥</td>
                    <td>10</td>
                    <td>50</td>
                    <td>待审核</td>
                    <td>
                        <a class="ezc-font-blue mr10" href="#/play/playApprovalDetail">查看</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>瓤子氮肥瓤子氮肥瓤子氮肥瓤子氮肥</td>
                    <td>10</td>
                    <td>50</td>
                    <td>待审核</td>
                    <td>
                        <a class="ezc-font-blue mr10" href="#/play/playApprovalDetail">查看</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="pagination">
            <a href="javascript:void(0)">首页</a>
            <span class="prev disable"></span>
            <span class="current">1</span>
            <a href="#">2</a>
            <span>...</span>
            <a href="#">6</a>
            <a href="#" class="next"></a>
        </div>

    </div>
</div>
        <script>
            $(function(){
                $('.table-body-box').height($(window).height()-260);
                $(window).resize(function(){
                    $('.table-body-box').height($(window).height()-260);
                })
            })
        </script>