<div ng-controller="playUploadIndex">

    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post">
                        <label class="search-bar-label">剧本名称：</label>
                        <div class="select-down-wrapper">
                            <div class="select-down-showitem">
                                <input type='text' class="select-down-left" id="txt" placeholder="哈哈">
                                <div class="icon-black-find"></div>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="search-bar-li">
                    <a class="ezc-font-green search-bar-add" href="#/play/uploadAdd">我要创建新的剧本</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">



        <div class="playUploadIndex-table">
            <div class="eza-table-top cl">
                <div class="eza-table-top-fl">
                    让子弹飞一会
                </div>
                <div class="eza-table-top-fr">
                    <a class="ezc-font-green search-bar-add" href="#/play/uploadAdd">我要创建新的剧本</a>
                </div>
            </div>
            <table class="eza-table-fixed-header">
                <thead>
                <col width="10%"><col width="10%"><col width="10%">
                <col width="50%"><col width="10%"><col width="20%">
                <tr>
                    <th>版本</th>
                    <th>总场次</th>
                    <th>总集数</th>
                    <th>气氛</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
            <div class="table-body-box">
                <table class="eza-table">
                    <col width="10%"><col width="10%"><col width="10%">
                    <col width="50%"><col width="10%"><col width="20%">
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>10</td>
                        <td>日内：10    夜内：10    日外：10    夜外：10</td>
                        <td>待审核</td>
                        <td class="playIndex-btn-box">
                            <a class="ezc-font-blue" href="#/play/uploadAdd">上传剧本</a>
                            <a class="ezc-font-green" href="#/play/uploadAdd">下载剧本</a>
                            <!--<a class="ezc-font-blue" href="#/play/uploadAdd">重新上传</a>-->
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>10</td>
                        <td>日内：10    夜内：10    日外：10    夜外：10</td>
                        <td>待审核</td>
                        <td class="playIndex-btn-box">
                            <a class="ezc-font-blue" href="#/play/uploadAdd">上传剧本</a>
                            <a class="ezc-font-green" href="#/play/uploadAdd">下载剧本</a>
                            <!--<a class="ezc-font-blue" href="#/play/uploadAdd">重新上传</a>-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="playUploadIndex-table">
            <div class="eza-table-top cl">
                <div class="eza-table-top-fl">
                    让子弹飞一会
                </div>
                <div class="eza-table-top-fr">
                    <a class="ezc-font-green search-bar-add" href="#/play/uploadAdd">我要创建新的剧本</a>
                </div>
            </div>
            <table class="eza-table-fixed-header">
                <thead>
                <col width="10%"><col width="10%"><col width="10%">
                <col width="50%"><col width="10%"><col width="20%">
                <tr>
                    <th>版本</th>
                    <th>总场次</th>
                    <th>总集数</th>
                    <th>气氛</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
            <div class="table-body-box">
                <table class="eza-table">
                    <col width="10%"><col width="10%"><col width="10%">
                    <col width="50%"><col width="10%"><col width="20%">
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>10</td>
                        <td>日内：10    夜内：10    日外：10    夜外：10</td>
                        <td>待审核</td>
                        <td class="playIndex-btn-box">
                            <a class="ezc-font-blue" href="#/play/uploadAdd">上传剧本</a>
                            <a class="ezc-font-green" href="#/play/uploadAdd">下载剧本</a>
                            <!--<a class="ezc-font-blue" href="#/play/uploadAdd">重新上传</a>-->
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>50</td>
                        <td>10</td>
                        <td>日内：10    夜内：10    日外：10    夜外：10</td>
                        <td>待审核</td>
                        <td class="playIndex-btn-box">
                            <a class="ezc-font-blue" href="#/play/uploadAdd">上传剧本</a>
                            <a class="ezc-font-green" href="#/play/uploadAdd">下载剧本</a>
                            <!--<a class="ezc-font-blue" href="#/play/uploadAdd">重新上传</a>-->
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="pagination mt20">
            <a href="javascript:void(0)">首页</a>
            <span class="prev disable"></span>
            <span class="current">1</span>
            <a href="#">2</a>
            <span>...</span>
            <a href="#">6</a>
            <a href="#" class="next"></a>
        </div>

    </div>

</div>