<meta charset="utf-8">
<div ng-controller="playUploadAdd">


    <div class="pageTitle">
        <p class="page-title">新建剧本</p>
    </div>


    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post">
                        <label class="search-bar-label">剧本名称：</label>
                        <div class="select-down-wrapper mr10">
                            <div class="select-down-showitem">
                                <input type='text' class="select-down-left" id="txt" placeholder="哈哈">
                                <div class="icon-black-find"></div>
                            </div>
                        </div>

                        <label class="search-bar-label">剧本类型：</label>
                        <select name="" id="" class="eza-input-select ">
                            <option value="1">电视剧</option>
                            <option value="1">网络剧</option>
                        </select>

                    </form>
                </li>
                <li>

                </li>
                <li class="search-bar-li">
                    <span class="ezc-font-red search-bar-tips">提示：请按照剧集排序依次上传</span>
                </li>

                <li class="search-bar-li uploadAdd-right-btn-box">
                    <button type="submit" class="ezc-btn-green mr10 ft16">开始转译</button>
                    <a href="#/index" class="ezc-btn-red  ft16">取消</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">

        <table class="eza-table-fixed-header">
            <thead>
            <col width="20%"><col width="40%"><col width="40%">
            <tr>
                <th>序号</th>
                <th>版本</th>
                <th>操作</th>
            </tr>
            </thead>
        </table>
        <div class="table-body-box">
            <table class="eza-table">
                <col width="20%"><col width="40%"><col width="40%">
                <tr>
                    <td>1</td>
                    <td>xxxxxxxx文件</td>
                    <td class="playIndex-btn-box">
                        <a class="ezc-font-red js-ajax-delete">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxxxxxx文件</td>
                    <td class="playIndex-btn-box">
                        <a class="ezc-font-red js-ajax-delete">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a class="ezc-font-blue" href="#/play/playApprovalDetail">上传剧本</a></td>
                    <td class="playIndex-btn-box">
                        <a class="ezc-font-red js-ajax-delete">删除</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="eza-table-footer-tr">
            <button type="submit" class="ezc-btn-green mr10 ft16">确定上传</button>
            <a href="#/index" class="ezc-btn-red  ft16">取消</a>
        </div>

    </div>

</div>


<script>
    //所有的删除操作，删除数据后刷新页面

    $(function(){

        $('.js-ajax-delete').on('click', function (e) {
            e.preventDefault();
            var $_this = this,
                    $this = $($_this),
                    href = $this.data('href'),
                    msg = $this.data('msg');
            href = href?href:$this.attr('href');
            art.dialog({
                title: false,
                icon: 'question',
                content:msg?msg: '确定要删除吗？',
                follow: $_this,
                close: function () {
                    $_this.focus();; //关闭时让触发弹窗的元素获取焦点
                    return true;
                },
                okVal:"确定",
                padding:"8px 0 0 0",
                ok: function () {

                    $.getJSON(href).done(function (data) {
                        if (data.state === 'success') {
                            if (data.referer) {
                                location.href = data.referer;
                            } else {
                                reloadPage(window);
                            }
                        } else if (data.state === 'fail') {
                            //art.dialog.alert(data.info);
                            //alert(data.info);//暂时处理方案
                            art.dialog({
                                content: data.info,
                                icon: 'warning',
                                ok: function () {
                                    this.title(data.info);
                                    return true;
                                }
                            });
                        }
                    });
                },
                cancelVal: '关闭',
                cancel: true
            });
        });




    });

</script>