<div>

    <div class="pageTitle">
        <p class="page-title">新建剧本</p>
    </div>

    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post" id="">
                        <label class="search-bar-label">剧本名称：</label>
                        <div class="select-down-wrapper mr10">
                            <div class="select-down-showitem">
                                <input type='text' class="select-down-left" id="txt" placeholder="哈哈">
                                <div class="icon-black-find"></div>
                            </div>
                        </div>

                        <label class="search-bar-label">剧本类型：</label>
                        <div class="gray-selcet-box">
                            <select name="" id="playScene" style="width:109px">
                                <option value="1">电视剧</option>
                                <option value="2">网络剧</option>
                            </select>
                        </div>

                    </form>
                </li>
                <li>

                </li>
                <li class="search-bar-li">
                    <span class="ezc-font-red search-bar-tips">提示：请按照剧集排序依次上传</span>
                </li>

                <li class="search-bar-li uploadAdd-right-btn-box">
                    <button type="button" class="ezc-btn-green mr10 ft16" id="transfer">开始转译</button>
                    <a href="#/index" class="ezc-btn-red  ft16">取消</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">

        <table class="eza-table-fixed-header">
            <thead>
                <col width="20%">
                <col width="40%">
                <col width="40%">
                <tr>
                    <th>序号</th>
                    <th>版本</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
        <div class="table-body-box">
            <table class="eza-table">
                <col width="20%">
                <col width="40%">
                <col width="40%">
                <tr>
                    <td>1</td>
                    <td>xxxxxxxx文件</td>
                    <td class="playIndex-btn-box">
                        <a class="ezc-font-red js-ajax-delete">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>xxxxxxxx文件</td>
                    <td class="playIndex-btn-box">
                        <a class="ezc-font-red js-ajax-delete">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>
                        <div class="eza-input-file-box">
                            <input type="file" name="" class="eza-input-file40" />
                            <span class="ezc-font-blue" href="#/play/playApprovalDetail">上传剧本</span>
                        </div>

                    </td>
                    <td class="playIndex-btn-box">
                        <a class="ezc-font-red js-ajax-delete">删除</a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="eza-table-footer-tr">
            <button type="submit" class="ezc-btn-green mr10 ft16">确定上传</button>
            <a href="#/index" class="ezc-btn-red  ft16">取消</a>
        </div>

    </div>

</div>


<script>
    //所有的删除操作，删除数据后刷新页面

    $(function () {
        $('#transfer').click(function () {
            var dialog = new QAQ.Dialog({
                title: '提示',
                content: '<div class="trans-dialog-loading"></div><div class="trans-dialog-tips">正在转译中，请稍后...</div> ',
                buttons: [{
                    name: '确定',
                    cls: '.btn-primary', //可选 自定义按钮css类
                    click: function () {
                        var dialog = this;
                        dialog.close();
                    }
                }]
            });
        });

        $('#playScene').fancySelect();
    });
</script>