<div ng-controller="announcementAudit">
    <div class="pageHeader">
        <div class="search-bar">
                <ul class="search-bar-ul cl">
                    <li class="search-bar-li">
                        <form action="" method="post">
                            <label class="search-bar-label">剧本：</label>
                            <div class="select-down-wrapper">
                                <div class="select-down-showitem">
                                    <span class="select-down-left" id="txt" contenteditable="true">
                                        哈哈
                                    </span>
                                    <div class="icon-black-down"></div>
                                </div>
                                <ul class="select-down-box" style="">
                                    <li>
                                        <span class="select-down-leftw">DEFAULT</span>
                                    </li>
                                </ul>
                            </div>
                            <button type="submit" class="ezc-btn-blue ml20">查询</button>
                        </form>
                    </li>
                    <li class="search-bar-li">
                        <button type="button" class="ezc-btn-blue">添加排程</button>
                    </li>
                </ul>
            </div>
    </div>
    <div class="pageBody">
        <table class="eza-table">

        </table>
    </div>
</div>