<div>

    <div class="pageBody mt40">
        <table class="eza-table-fixed-header">
            <thead>
                <col width="10%">
                <col width="15%">
                <col width="22%">
                <col>
                <col width="9.7%">
                <col width="6.7%">
                <col width="10.9%">
                <tr>
                    <th>拍摄时间</th>
                    <th>剧名</th>
                    <th>场景</th>
                    <th>地址</th>
                    <th>剧本占比</th>
                    <th>组别</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
        <div style="min-height:500px;overflow: auto">
            <table class="eza-table">
                <col width="10%">
                <col width="15%">
                <col width="22%">
                <col>
                <col width="9.7%">
                <col width="6.7%">
                <col width="10.9%">
                <tr>
                    <td>017-09-09 星期天</td>
                    <td>外婆家</td>
                    <td>外婆家</td>
                    <td>外婆家</td>
                    <td>37%</td>
                    <td>A</td>
                    <td>
                        <a class="ezc-font-blue mr10">审核</a>
                    </td>
                </tr>
                <tr>
                    <td>017-09-09 星期天</td>
                    <td>外婆家</td>
                    <td>外婆家</td>
                    <td>外婆家</td>
                    <td>37%</td>
                    <td>A</td>
                    <td>
                        <a class="ezc-font-blue mr10">审核</a>
                    </td>
                </tr>
                <tr>
                    <td>017-09-09 星期天</td>
                    <td>外婆家</td>
                    <td>外婆家</td>
                    <td>外婆家</td>
                    <td>37%</td>
                    <td>A</td>
                    <td>
                        <a class="ezc-font-blue mr10">审核</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>