<div id="progressActorLayer">
    <table class="eza-table-fixed-header pb5">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <tr>
            <th>序号</th>
            <th>角色名称</th>
            <th>角色</th>
            <th>艺人</th>
            <th>化妆时间</th>
            <th>出发时间</th>
        </tr>
    </table>
    <div class="table-body-box">
        <table class="eza-table">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <tr>
                <td>1</td>
                <td>二狗的爷爷</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(function () {
        $('#addActorBtn').click(function(){
            $('#tabList').hide();
            $('#progressActorLayer').hide();
            $('#progressChooseActorLayer').show();
        });

        $('#progressChooseActorBack').click(function () {
            $('#tabList').show();
            $('#progressActorLayer').show();
            $('#progressChooseActorLayer').hide();
        });

        $('.actorEdit').click(function () {
            var dialog = new QAQ.Dialog({
                title: '编辑',
                width: 507,
                height:205,
                content: $('#actorEditTemp').html(),
                buttons: [{
                    name: '确定',
                    cls: '.btn-primary', //可选 自定义按钮css类
                    click: function () {
                        var dialog = this;
                        dialog.close();
                    }
                }, {
                    name: '取消',
                    cls: '.btn-success', //可选 自定义按钮css类
                    click: function () {
                        var dialog = this;
                        dialog.close();
                    }
                }],
                success: function () {
                    var string = '';
                    for(var i=0;i<24;i++){
                        string+="<option value="+addZero(i)+">"+addZero(i)+"</option>";
                    }
                    $('#hourInput1').html(string);
                    $('#hourInput2').html(string);

                    var strings = '';
                    for(var index=0;index<60;index++){
                        strings+="<option value="+addZero(index)+">"+addZero(index)+"</option>";
                    }
                    $('#secondInput1').html(strings);
                    $('#secondInput2').html(strings);
                    $('.black-select-box16 select').fancySelect();

                }
            });
        });
    });

    function addZero(num) {
        return num < 10?'0' + num:num;
    }
</script>