<div>
    <div class="pageTitle cl">
        <p class="page-title fl">审核预览</p>
        <a class="ezc-btn-red fr" href="#/overallPlanning/approveAdmin">返回</a>
    </div>

    <div class="pageBody cl">

        <div class="eza-table-caption cl tc">
            <span class="big-title">让子弹飞一会</span>
            <span class="sub-title">(电影)</span>
            <div class="small-dec">
                2017/09/25 <span class="mr10">周一</span> <span class="mr10">19-27℃</span> <span class="mr10">阴</span> 南风微风
            </div>
        </div>
        <ul class="preview-info-ul">
            <li class="preview-info-left">拍摄地点：故宫</li>
            <li class="preview-info-center">详细地点：xxxxxxxxxxx</li>
            <li class="preview-info-right">
                <span class="mr20">早餐时间：07:00</span>
                <span class="mr20">出发时间：07:00</span>
            </li>
        </ul>

        <table class="preview-table-header">
            <colgroup>
                <col width="3.6%">
                <col width="5.5%">
                <col width="12.1%">
                <col width="5.5%">
                <col width="3.6%">
                <col width="12.1%">
                <col width="22">
                <col>
                <col width="12.2%">
                <col width="12.2%">
            </colgroup>
            <tr>
                <th rowspan="3">拍<br>摄<br>内<br>容</th>
                <th  rowspan="3" colspan="5" class="preview-content">废话</th>
                <th>
                    角<br>色<br>名<br>称
                </th>
                <th class="p0">
                    <div class="preview-actor-box">
                        <ul class="preview-actor-th-box">
                            <li>
                                <p>张三发</p>
                            </li>
                            <li>
                                <p>张三发</p>
                            </li>
                            <li>
                                <p>张三发</p>
                            </li>
                            <li>
                                <p>张三发</p>
                            </li>
                        </ul>
                    </div>
                </th>
                <th  rowspan="3" colspan="2" class="p0">
                    <ul class="preview-table-tips-table">
                        <li class="p20">
                            提<br>示
                        </li>
                        <li class="preview-content">
                            dsjaiodsamiodjasodiasjiodasm
                        </li>
                    </ul>
                </th>
            </tr>
            <tr>
                <th>
                    演<br>员<br>名<br>称
                </th>
                <th class="p0">
                    <div class="preview-actor-box">
                        <ul class="preview-actor-th-box">
                            <li>
                                <p>张三发</p>
                            </li>
                            <li>
                                <p>张三发</p>
                            </li>
                            <li>
                                <p>张三发</p>
                            </li>
                            <li>
                                <p>张三发</p>
                            </li>
                        </ul>
                    </div>
                </th>

            </tr>
            <tr>
                <th>出<br>发<br>时<br>间</th>
                <th class="p0">
                    <div class="preview-actor-box">
                        <ul class="preview-actor-th-box">
                            <li>
                                <p class="time">10:40
                                </p>
                            </li>
                            <li>
                                <p class="time">10:40</p>
                            </li>
                            <li>
                                <p class="time">10:40
                                </p>
                            </li>
                            <li>
                                <p class="time">10:40</p>
                            </li>
                        </ul>
                    </div>
                </th>

            </tr>
            <tr>
                <td>序<br>号</td>
                <th>场<br>集</th>
                <th>场<br>景</th>
                <th>气<br>氛</th>
                <th>全<br>剧<br>比<br>例</th>
                <th>主<br>要<br>内<br>容</th>
                <th>
                    化<br>妆<br>时<br>间
                </th>
                <th class="p0">
                    <div class="preview-actor-box">
                        <ul class="preview-actor-th-box">
                            <li>
                                <p class="time">10:40</p>
                            </li>
                            <li>
                                <p class="time">10:40</p>
                            </li>
                            <li>
                                <p class="time">10:40
                                </p>
                            </li>
                            <li>
                                <p class="time">10:40</p>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>特约/群众</th>
                <th>化道服提示</th>
            </tr>
        </table>
        <div class="preview-table-box">
            <table class="preview-table-body">
                <col width="3.6%">
                <col width="5.5%">
                <col width="12.1%">
                <col width="5.5%">
                <col width="3.6%">
                <col width="12.1%">
                <col width="22">
                <col>
                <col width="12.2%">
                <col width="12.2%">
                <tr>
                    <td>1</td>
                    <td>30-39a</td>
                    <td>吴波酒吧武器库
                        的西南角</td>
                    <td>日/内</td>
                    <td>3%</td>
                    <td>把饺子托付给吴波</td>
                    <td>&nbsp;</td>
                    <td class="p0">
                        <div class="preview-actor-box">
                            <ul class="preview-actor-th-box">
                                <li>
                                    <p>&nbsp;</p>
                                </li>
                                <li>
                                    <p>&nbsp;</p>
                                </li>
                                <li>
                                    <p>&nbsp;</p>
                                </li>
                                <li>
                                    <p>夏</p>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>把饺子托付给吴波</td>
                    <td>把饺子托付给吴波</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.preview-table-box').height($(window).height() - 520);
    });

</script>