<div id="progressActorLayer">
    <div class="overallManagement-btns">
        <div class="ezc-btn-blue mr20 import-btn"  id="importActor">
            一键导入
            <input type="file" name="" id="importActorFile" class="upload-import-file">
        </div>
        <a href="" class="ezc-btn-green" id="addActorBtn">新增艺人</a>
    </div>
    <table class="eza-table-fixed-header pb5">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="25%">
        <tr>
            <th>序号</th>
            <th>角色名称</th>
            <th>角色</th>
            <th>艺人</th>
            <th>化妆时间</th>
            <th>出发时间</th>
            <th>操作</th>
        </tr>
    </table>
    <div class="table-body-box">
        <table class="eza-table">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="25%">
            <tr>
                <td>1</td>
                <td>二狗的爷爷</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>
                    <a href="" class="ezc-font-blue actorEdit small">编辑</a>
                    <a href="" class="ezc-font-red small">删除</a>
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="progress-layer" id="progressChooseActorLayer">
    <ul class="search-bar-ul cl">
        <li class="search-bar-li">
            <label class="search-bar-label fw">艺人--添加</label>
        </li>
        <li class="search-bar-li progress-li-fr">
            <a href="" class="ezc-btn-green mr10">保存</a>
            <a href="" class="ezc-btn-red" id="progressChooseActorBack">返回</a>
        </li>
    </ul>
    <table class="eza-table-fixed-header pb5">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <col width="12.5%">
        <tr>
            <th><input type="checkbox" name="" id="" class="eza-all-check">全选</th>
            <th>序号</th>
            <th>角色名称</th>
            <th>角色</th>
            <th>艺人</th>
            <th>剧中简称</th>
            <th>参演集数</th>
            <th>参演场次</th>
        </tr>
    </table>
    <div class="table-body-box">
        <table class="eza-table">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <col width="12.5%">
            <tr>
                <td><input type="checkbox" name="" id="" class="eza-check"></td>
                <td>1</td>
                <td>二狗的爷爷</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
                <td>xxxx</td>
            </tr>
        </table>
    </div>
</div>


<script type="text/template" id="actorEditTemp">
    <ul class="assignByDayActorEditBox">
        <li class="cl tc">
            <span class="actorEditTemp-role-name">角色名称</span>
            <span class="actorEditTemp-act-name">艺人名称</span>
        </li>
        <li class="cl">
            <label class="addProgressAdminBox-label">化妆：</label>
            <div class="black-select-box16">
                <select name="" style="width:79px" id="hourInput1">
                </select>
            </div>
            <span class="underline-dec">:</span>
            <div class="black-select-box16">
                <select name="" style="width:79px"  id="secondInput1">
                </select>
            </div>
        </li>
        <li class="cl">
            <label class="addProgressAdminBox-label">出发：</label>
            <div class="black-select-box16">
                <select name="" style="width:79px" id="hourInput2">
                </select>
            </div>
            <span class="underline-dec">:</span>
            <div class="black-select-box16">
                <select name="" style="width:79px"  id="secondInput2">
                </select>
            </div>
        </li>
    </ul>
</script>


<script>
    $(function () {
        $('#addActorBtn').click(function(){
            $('#tabList').hide();
            $('#progressActorLayer').hide();
            $('#progressChooseActorLayer').show();
        });

        $('#progressChooseActorBack').click(function () {
            $('#tabList').show();
            $('#progressActorLayer').show();
            $('#progressChooseActorLayer').hide();
        });

        $('.actorEdit').click(function () {
            var dialog = new QAQ.Dialog({
                title: '编辑',
                width: 507,
                height:205,
                content: $('#actorEditTemp').html(),
                buttons: [{
                    name: '确定',
                    cls: '.btn-primary', //可选 自定义按钮css类
                    click: function () {
                        var dialog = this;
                        dialog.close();
                    }
                }, {
                    name: '取消',
                    cls: '.btn-success', //可选 自定义按钮css类
                    click: function () {
                        var dialog = this;
                        dialog.close();
                    }
                }],
                success: function () {
                    var string = '';
                    for(var i=0;i<24;i++){
                        string+="<option value="+addZero(i)+">"+addZero(i)+"</option>";
                    }
                    $('#hourInput1').html(string);
                    $('#hourInput2').html(string);

                    var strings = '';
                    for(var index=0;index<60;index++){
                        strings+="<option value="+addZero(index)+">"+addZero(index)+"</option>";
                    }
                    $('#secondInput1').html(strings);
                    $('#secondInput2').html(strings);
                    $('.black-select-box16 select').fancySelect();

                }
            });
        });
    })

    function addZero(num) {
        return num < 10?'0' + num:num;
    }
</script>