<div>
    <div class="pageHeader">
        <div class="search-bar">
            <ul class="search-bar-ul cl">
                <li class="search-bar-li">
                    <form action="" method="post">
                        <label class="search-bar-label">剧本：</label>
                        <div class="select-down-wrapper">
                            <div class="select-down-showitem">
                                <input type='text' class="select-down-left" id="txt" value="哈哈">
                                <div class="icon-black-down"></div>
                            </div>
                            <ul class="select-down-box" style="">
                                <li>
                                    <span class="select-down-leftw">DEFAULT</span>
                                </li>
                            </ul>
                        </div>
                        <button type="submit" class="ezc-btn-blue ml20">查询</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

    <div class="pageBody">
        <table class="eza-table-fixed-header">
            <thead>
                <col width="5%">
                <col width="35%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <tr>
                    <th>序号</th>
                    <th>地址</th>
                    <th>时间段</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
        </table>
        <div style="min-height:500px;overflow: auto">
            <table class="eza-table">
                <col width="5%">
                <col width="35%">
                <col width="20%">
                <col width="20%">
                <col width="20%">
                <tr>
                    <td>1</td>
                    <td>故宫</td>
                    <td>2017/09/09--2017-09-29</td>
                    <td>正在审批</td>
                    <td>
                        <a class="ezc-font-blue" href="#/overallPlanning/confirmProgress">查看</a>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>故宫</td>
                    <td>2017/09/09--2017-09-29</td>
                    <td>正在审批</td>
                    <td>
                        <a class="ezc-font-green">审批</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>