<table class="eza-table-fixed-header pb5">
    <col width="10%">
    <col width="10%">
    <col width="10%">
    <col width="20%">
    <col width="20%">
    <col width="30%">
    <tr>
        <th>序号</th>
        <th>部门</th>
        <th>岗位</th>
        <th>姓名</th>
        <th>手机</th>
        <th>工作内容</th>
    </tr>
</table>

<div class="table-body-box">
    <table class="eza-table">
        <col width="10%">
        <col width="10%">
        <col width="10%">
        <col width="20%">
        <col width="20%">
        <col width="30%">
        <tr>
            <td>1</td>
            <td>xxxx部门</td>
            <td>xxxx</td>
            <td>将军</td>
            <td>xxxx</td>
            <td>xxxx</td>
        </tr>
    </table>
</div>