<table class="eza-table-fixed-header scene-table-head">
    <col width="12%">
    <col width="12%">
    <col width="12%">
    <col width="12%">
    <col width="12%">
    <col width="12%">
    <col width="12%">
    <col width="20%">
    <tr>
        <th>场<br>集</th>
        <th>场<br>景</th>
        <th>气<br>氛</th>
        <th>全<br>剧<br>比<br>例</th>
        <th>已<br>安<br>排<br></th>
        <th>剧<br>情<br>提<br>示<br></th>
        <th>特<br>约<br>\<br >群<br>众<br></th>
        <th>化<br>道<br>服<br></th>
    </tr>
</table>
<div class="table-body-box">
    <table class="eza-table-scene" cellpadding="0" cellspacing="0">
        <col width="12%">
        <col width="12%">
        <col width="12%">
        <col width="12%">
        <col width="12%">
        <col width="12%">
        <col width="12%">
        <col width="20%">
        <tr class="dashed">
            <td>30-40</td>
            <td>中山公园</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr class="solid-border-bottom">
            <td class="solid-border-td" colspan="7">
                二狗的爷爷
            </td>
            <td class="solid-border-none"> <!--样式修正有BUG 修复不了 请这么写-->
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>30-40</td>
            <td>中山公园</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>