
.eza-textarea-box-loc,.eza-textarea-box{
    border: 1px solid #333;
    padding: 10px 13px;
    margin-bottom: 15px;
}
.eza-textarea-box-loc .eaz-textarea,.eza-textarea-box .eaz-textarea{
    width: 100%;
    display: block;
    font-size:14px;
    line-height: 16px;
    height:48px;
    background: transparent;
    resize: none;
    font-family: microsoft yahei;
    outline: 0;
}
.locationDetail-table{
    border-collapse: collapse;
    width: 100%;
}
.locationDetail-table td{
    padding: 0;
}
.locationDetail-table th{
    vertical-align: top;
    font-size: 16px;
    padding: 0;
    line-height: 40px;
}
.eza-input.loc-name{
    width: 388px;
}
.eza-input.loc-contact{
    width: 88px;
}

.upload-box{
    width: 100%;
    margin-right: 15px;
}
.upload-box li{
    width:165px;
    margin-left:18px;
    float: left;
    height: 193px;
    text-align: center;
    margin-bottom:15px;
}
.upload-box li.upload-btn-li .upload-pic-font{
    font-size: 12px;
    color:#afafaf;
}
.upload-box li.upload-btn-li .upload-pic-font:hover{
    color:#298ee5;
}
.upload-box li.upload-btn-li .upload-pic-btn{
    margin:20px auto;
    width: 132px;
    cursor: pointer;
}
.pic-show-box{
    width: 170px;
    height: 170px;
    margin: auto;
    margin-bottom:5px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.gray-txt{
    line-height: 28px;
    font-size: 14px;
    color: #999;
}
.locationDetail-table div.fancy-select div.trigger{
    font-size: 14px;
    color: #afafaf;
    text-align: left;
    text-indent: 4px;
}
.locationDetail-table .black-select-box{
    width: 22%;
}
.locationDetail-table .black-select-box select{
    width: 100%;
}
.upload-img-wrapper{
    position: relative;
    text-align: center;
    width: 132px;
    margin: 13px auto 18px;
}
.upload-img-box{
    width: 132px;
    height: 106px;
    text-align: center;
}
.upload-img-file{
    position: absolute;
    top:0px;
    left: 0;
    width: 132px;
    height: 134px;
    display: block;
    outline: 0;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}
.upload-date-wrapper{
    width: 260px;
    margin: 0 auto;
}
.upload-date-wrapper .shootEdit-dateinput.ft16{
    text-indent:15px;
}
.locationDetail-table div.fancy-select div.trigger{
    font-size: 14px;
    color: #afafaf;
    text-align: left;
    text-indent: 4px;
}
.black-select-box{
    float: left;
}
.black-selcet-box div.fancy-select div.trigger{
    font-size: 14px !important;
    color: #333;
    text-align: left;
    cursor: pointer;
}
.gray-selcet-box,.gray-select-box{
    float: left;
}
.gray-selcet-box div.fancy-select div.trigger,.gray-select-box div.fancy-select div.trigger{
    font-size: 14px;
    color: #afafaf;
    text-align: left;
    text-indent: 4px;
    cursor: pointer;
}
.newTeam-ul{
    width: 227px;
    margin: 75px auto 50px;
}
.newTeam-ul li{
    margin-bottom:5px;
}
.newTeam-label{float: left;font-size: 16px;line-height: 36px;font-weight: 600;}
.newTeam-input1{border: 0;border-bottom: 1px solid #333;line-height: 33px;height: 33px;width: 126px;padding-left: 10px;padding-right: 10px;font-family: microsoft yahei;font-size: 14px;background: transparent;float: right;outline: 0;}

.progress-schedule-bar{
    font-size: 0;
    margin-bottom: 5px;
    line-height: 37px;
}
.progress-schedule-bar-date {
    vertical-align: top;
    font-size: 18px;
    padding-bottom: 3px;
    border-bottom: 1px solid #333;
}

.progress-schedule-bar-line {
    font-size: 20px;
    margin-left: 7px;
    margin-right: 7px;
    vertical-align: top;
}

.progress-schedule-bar-label {
    font-size: 16px;
    line-height: 36px;
}

.addProgressAdminUl {
    padding: 30px 50px;
}
.editProgressAdminUl {
    padding: 35px 50px;
}
.addProgressAdminBox-label {
    float: left;
    font-size: 16px;
    line-height: 36px;
    font-weight: 600;
}

.addProgressAdminBox-input1,.editProgressAdminBox-input1{
    border: 0;
    border-bottom: 1px solid #333;
    line-height: 33px;
    height: 33px;
    width: 326px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: microsoft yahei;
    font-size: 14px;
    background: transparent;
    float: left;
    margin-bottom: 14px;
}
.editProgressAdminBox-input1{
    width: 279px;
}
.editProgressAdminBox-noInput{
    border: 0;
    line-height: 33px;
    height: 33px;
    width: 279px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: microsoft yahei;
    font-size: 14px;
    background: transparent;
    float: left;
    margin-bottom: 14px;
}
.icon-rili {
    width: 22px;
    height: 20px;
    background: url(../image/icon_rili.png) no-repeat;
    vertical-align: middle;
    margin-right: 7px;
    display: block;
    margin-top: 6px;
    cursor: pointer;
}

.addProgressAdminBox-date-box {
    padding-right: 30px;
    float: left;
    width: 125px;
    height: 34px;
    border-bottom: 1px solid #333;
}

.addProgressAdminBox-date-box dt {
    float: right;
    margin-right: -30px;
    cursor: pointer;
}

.addProgressAdmin-dateinput {
    border: 0;
    line-height: 33px;
    height: 33px;
    width: 107px;
    padding-right: 37px;
    font-family: microsoft yahei;
    font-size: 16px;
    background: transparent;
    float: left;
    margin-bottom: 14px;
    padding-left: 12px;
}

.addProgressAdminBox-date-dec {
    vertical-align: bottom;
    line-height: 34px;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.addProgressAdminUl li.last {
    padding-left: 26px;
    margin-top: 5px;
}
.assignright-info-title{
    font-size: 16px;
    font-weight: 800;
    padding-top: 20px;
}
.assignright-info-title h4{
    float: left;
    font-size: 16px;
    font-weight: 800;
    line-height: 37px;
    /* margin-bottom: 18px; */
}
.assignright-info-table{
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
}
.assignright-info-table td{
   padding: 3px 0;
}