html,body{height:100%;overflow-x:hidden;}
body{padding-left:20px;padding-right:20px}
.navbar{background: #fff;height:60px;border-bottom:1px solid #999;}
.navbar .logo{float: left;display:block;width: 139px;height: 40px;margin-left: 12px;background: url(../image/logo.png);margin-top:10px;cursor: pointer;}
.navbar .username{float: right;display:inline-block;line-height: 60px;color: #333333;margin-right:20px;font-size: 16px;}
.navbar .exit-icon{float: right;display:block;width:20px;height:20px;margin-left:20px;margin-right:20px;background: url(../image/admin_icon_stop.png);margin-top:20px;cursor: pointer;}
.main-container{position: absolute;padding: 0;top:61px;bottom:0;left: 0;right: 0;min-height:600px;}
.main-container .container-box{position: absolute;padding: 0;top:0;bottom: 30px;left:20px;right:20px;padding-left: 251px;background: url(../image/admin_body.jpg) no-repeat center center;}
.main-container .container-box .container-menu-box{position: absolute;padding: 0;top:0;bottom:0;left:0;padding-top:10px;width: 250px;}
.main-container .container-foot{position: absolute;bottom: 0;left:20px;right: 20px;height: 30px;text-align: center;font-size: 12px;color: #666;font-family: Simsun;line-height: 20px;}
.ng-views{height: 100%;overflow: auto;/*no position: relative*/}
.nav-menu li{margin-bottom: 20px;position: relative;}


.nav-menu li span.nav-name{font-size: 18px;color:#000;vertical-align: baseline;line-height: 32px;}
.nav-menu li span.nav-name:hover,.nav-menu li .second-menu li .second-menu-name:hover{color:#298ee5}
.nav-menu li.active span.nav-name,.nav-menu li .second-menu li.checked .second-menu-name{color:#ff5710;}
.nav-menu li.active span.nav-name:hover,.nav-menu li .second-menu li.checked .second-menu-name:hover{color:#ff5710}
.nav-menu li .menu-icon{display:inline-block;width: 32px;height:32px;cursor: pointer;margin-right:10px;vertical-align: -3px;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;}
.nav-menu li .menu-icon1{background-image:url(../image/admin_menu_icon1.png);}
.nav-menu li .menu-icon2{background-image:url(../image/admin_menu_icon2.png);}
.nav-menu li .menu-icon3{background-image:url(../image/admin_menu_icon3.png);}
.nav-menu li .menu-icon4{background-image:url(../image/admin_menu_icon4.png);}
.nav-menu li.active .menu-icon1{background-image:url(../image/admin_menu_icon1_active.png);}
.nav-menu li.active .menu-icon2{background-image:url(../image/admin_menu_icon2_active.png);}
.nav-menu li.active .menu-icon3{background-image:url(../image/admin_menu_icon3_active.png);}
.nav-menu li.active .menu-icon4{background-image:url(../image/admin_menu_icon4_active.png);}
.nav-menu li .second-menu{display: none;position: absolute;top: 5px;left: 110px;width: 150px;background:#fff;z-index:1}
.nav-menu li.active .second-menu{display:block}
.nav-menu li .second-menu li{padding-left:10px;margin-bottom: 0;}
.nav-menu li .second-menu li .second-menu-name{font-size: 16px;color:#000;vertical-align: middle;line-height: 34px;}
.nav-menu li .second-menu li .menu-small-icon{display:inline-block;width:18px;height:16px;cursor: pointer;margin-right: 10px;vertical-align:middle;background-position:50% 50%;background-repeat:no-repeat;background-size:cover;background-image:url(../image/admin_menu_sicon1.png);}
.nav-menu li .second-menu li.checked .menu-small-icon{background-image:url(../image/admin_menu_sicon1_active.png);}
.nav-menu li .second-menu li.dec-line1{position: absolute;width: 10px;height: 1px;background: #999;top: 17px;left: -19px;margin-bottom: 0;padding-left: 0;}
.nav-menu li .second-menu li .dec-line2{position: absolute;width: 9px;height: 1px;background: #999;top: 17px;left: -10px;padding-left: 0;}
.nav-menu li .second-menu li.dec-line{position: absolute;width:1px;background: #999;bottom: 17px;top: 17px;left: -10px;padding-left: 0;}
.nav-menu-bottom{
    position: absolute;
    padding: 0;
    bottom:10px;
    left:0;
    right:0;
    width: 250px;
}
.nav-menu-bottom li{
    font-size: 18px;
    line-height: 40px;
    color: #333;
    font-weight: 800;
}
.nav-menu-bottom{
    position: absolute;
    padding: 0;
    bottom:0;
    left:0;
    right:0;
    width: 250px;
}

.welcome{
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -8px;
}
.center-password-box{
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 154px;
    left: 50%;
    margin-left: -160px;
}
.center-password-box table.center-password{
    width: 320px;
    height: 330px;
    font-size: 16px;
}
.password-sub-box{
    text-align: center;
}
.red-star{
    color:red;
    font-size: 23px;
    margin-right: 10px;
    font-family: sans-serif;
    vertical-align: -6px;
    font-weight: 800;
}
.eza-input{border:0;border-bottom:1px solid #333;line-height:33px;height:33px;width:188px;padding-left:10px;padding-right:10px;font-family: microsoft yahei;font-size:14px;background:transparent}
.ezc-btn-orange{
    font-family: microsoft yahei;
    padding:7px 28px;
    outline:0;font-size: 14px;vertical-align:0;border:1px solid transparent;
    color: #ff5710;background:transparent;text-align: center;
    color: #ff5710 !important;
}
.ezc-btn-orange:hover{
    font-family: microsoft yahei;
    padding:7px 28px;
    outline:0;font-size: 14px;vertical-align:0;border:1px solid #ff5710;
    color: #58595a;background:#fff6f3;text-align: center;
    color: #58595a !important;
}
.ezc-btn,.ezc-btn-blue{
    font-family: microsoft yahei;
    padding:7px 28px;
    outline:0;font-size: 14px;vertical-align:0;border:1px solid transparent;
    color: #298ee5;background:transparent;text-align: center;
    color: #298ee5 !important;
}
.ezc-btn:hover,.ezc-btn-blue:hover{
    font-family: microsoft yahei;
    padding:7px 28px;
    outline:0;font-size: 14px;vertical-align:0;border:1px solid #298ee5;
    color: #58595a;background:#f3faff;text-align: center;
    color: #58595a !important;
}
.ezc-btn-red{
    font-family: microsoft yahei;
    padding:7px 28px;
    outline:0;font-size: 14px;vertical-align:0;border:1px solid transparent;
    color: #ff0000;background:transparent;text-align: center;
    color: #ff0000 !important;
}
.ezc-btn-red:hover{
    font-family: microsoft yahei;
    padding:7px 28px;
    outline:0;font-size: 14px;vertical-align:0;border:1px solid #ff0000;
    color: #58595a;background:#fff2f2;text-align: center;
    color: #58595a !important;
}
.mr10{margin-right:10px;}