body{font-family:"Microsoft YaHei", Arial, sans-serif;-webkit-text-size-adjust:100%;}
*{padding:0;margin:0;border:0;text-align:left;font-style:normal;font-weight:normal;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none; color: #333;}
nav, footer, section, header, article{display:block;}
ol,ul{list-style:none;}
.cl,.clearfix{*zoom:1;}
.cl:after, .clearfix:after{clear:both;content:'\20';display:block;height:0;visibility:hidden;}
u{text-decoration:none;}
input,select,button{font-family:"Microsoft YaHei", Arial, sans-serif;}
a:link{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-touch-callout:none;cursor: pointer;}
a:link, a:visited, a:hover, a:active{text-decoration:none;cursor: pointer;}
a:hover{text-decoration:none;}
input, textarea{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;}
body{color:#333333;background-color:#fff;font-size:12px;}
a{color:#333333;cursor:pointer;}
.fl{float:left;}
.fr{float:right;}
.tf{text-align:left}
.tc{text-align:center}
.tr{text-align:right}
form{margin:0;padding:0;}
img{border:0;display:block;}
.pr{position: relative;position: relative !important;}