/*login*/
/*html,body,.wrap{width:100%;height:100%;overflow:hidden;}*/
.wrap{background-image: url("../image/login/bglogo.jpg");background-size:100%;background-repeat:no-repeat;min-width:1366px;position:absolute;top:0;bottom:0;left:0;right:0;overflow:hidden;}
.wrap .content{width:100%;height: 350px;background-color:rgba(0,0,0,0.5);position:absolute;top:50%;margin-top: -175px;min-width:1366px;}
.content .content-header{width:500px;height:100px;margin:0px auto;margin-top:64px;position:relative;}
.content-header img{position:absolute;}
.content-header .img-l{width:66px;height:56px;left:0px;top:0px;}
.content-header .img-c{width:52px;height:39px;left:70px;top:6px;}
.content-header .img-r{width:130px;height:35px;left:124px;top:10px;}
.content-header .img-left{width:126px;height:106px;top:0px;left:0px;}
.content-header .img-center{width:112px;height:70px;top:24px;left:130px;}
.content-header .img-right{width:246px;height:68px;top:24px;left:250px;}
.content-main{width: 1105px;height: 60px;margin: 28px auto;position:relative;}
.content-main #login-all p{position:absolute;width: 318px;height: 54px;border:1px solid #FF9F72;background-color: white;border-radius: 3px;padding-left: 10px;}
.content-main #login-all i{position:absolute;z-index:2;color:#FF5600;line-height:35px;}
.content-main #login-all i .img-icon{width: 41px;height: 45px;}
.content-main #login-all .iconfont1{left: 22px;/* width:25px; *//* height:25px; */top:5px;}
.content-main #login-all .iconfont2{left: 370px;width:25px;height:25px;top:5px;}
.content-main #login-all .iconfont3{left: 722px;width:25px;height:25px;top:5px;}
.content-foot i{position:absolute;}
.content-foot i .saveImg{width:21px;height:21px;}
.content-foot i .saveImgb{width:42px;height:42px;}
/*.content-foot .iconfont4{color:#fff;left:88px;top:0px;cursor:pointer;width:21px;height:21px;}*/
/*.content-foot .iconfont5{color:#00CF75;left:120px;top:0px;cursor:pointer;width:21px;height:21px;}*/
.content-foot .iconfont4{color:#fff;left:144px;top:0px;cursor:pointer;width:42px;height:42px;}
.content-foot .iconfont5{color:#00CF75;left:210px;top:0px;cursor:pointer;width:42px;height:42px;}
.content-main #login-all input{width: 252px;height:35px;position:absolute;left: 53px;top: 10px;outline:none;border-radius:3px;line-height: 36px;font-size: 18px;vertical-align: middle;}
#yzm{width:116px;}
.content-main #login-all .firstLine{left:15px;}
.content-main #login-all .firstLine1{left: 364px;}
.content-main #login-all .firstLine2{left: 714px;}
.content-main #login-all .img-ro{position:absolute;right: 61px;}
.content-foot{width:248px;height:42px;position:relative;left:73%;}
.content-foot .forgetBtn{width:60px;height:21px;border:1px solid #005D8A;background-color: transparent;color:#DAD8D4;position:absolute;left:10px;top:0px;text-align:center;line-height:17px;font-size:8px;}
.content-foot .forgetBtned{width:104px;height:40px;line-height:40px;text-align:center;border:1px solid #005D8A;letter-spacing:3px;background-color:transparent;color:#DAD8D4;font-size:18px;position:absolute;left:0px;}
@font-face {font-family: 'iconfont';src: url('../font/iconfont.eot');src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),url('../font/iconfont.woff') format('woff'),url('../font/iconfont.ttf') format('truetype'),url('../font/iconfont.svg#iconfont') format('svg');}
.iconfont{font-family:"iconfont" !important;font-size:24px;font-style:normal; -webkit-font-smoothing: antialiased; -webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}
.iconfont1{color:#FF7641;}
.wrap .content1{height:380px;width:100%;background-color:rgba(0,0,0,0.5);position:absolute;top:50%;margin-top:-175px;min-width:1366px;}
.wrap .content1 .reverseTo{color:#F1F0EF;height:36px;line-height:36px;width:420px;text-align:center;}
.wrap .content1 .reverseTo a{color:#F1F0EF;height:36px;line-height:36px;display:inline-block;width:420px;text-align:center;}
.content1 .content-header{width:260px;height:56px;margin:0px auto;margin-top:15px;position:relative;}
.content-main1{width:240px;height:240px;margin:15px auto;}
.content-main1 #login-alls .lineL p{width:240px;height:35px;border:1px solid #FF9F72;background-color: white;border-radius: 3px;position:relative;}
.content-main1 #login-alls .lineL p:not(.firstLine){margin-top:10px;}
.content-main1 #login-alls .lineL p input{width:88%;height:35px;outline:none;border-radius:3px;position:absolute;left:12%;}
.content-main1 #login-alls .lineL .iconfont2{position:absolute;z-index:2;color:#FF5600;line-height:35px;width:25px;height:25px;margin-top:5px;}
.content-main1 #login-alls .lineL .iconfont2 .forgetIcon{width:24px;height:24px;}
.content-main1 #login-alls .lineL .iconfont2 .forgetIcon1{width:18px;height:18px;margin-top:4px;margin-left:2px;}
.content-main1 #login-alls .lineL p .img-ro{position:absolute;width:86px;height:35px;right:0px;}
.content-main1 #login-alls .lineL p .showN{display:inline-block;position:absolute;width:86px;height:35px;line-height:35px;text-align:center;right:0px;background-color:#FF4800;color:#ffffff;}
.content-foot1{width:200px;height:36px;position:relative;left:70%;top:-33px;}
.content-foot1 i{position:absolute;}
.content-foot1 i .saveImg{width:21px;height:21px;}
.content-foot1 .iconfont4{color:#fff;left:88px;top:3px;cursor:pointer;width:21px;height:21px;}
.content-foot1 .iconfont5{color:#00CF75;left:120px;top:3px;cursor:pointer;width:21px;height:21px;}
/*login end*/
/*script upload*/
.sc-set{position:absolute;left:260px;right:0px;top:15px;bottom:20px;}
.sc-set .set-play{position:relative;}
.sc-set .set-play span{position:absolute;display:inline-block;}
.sc-set .set-play .font-p{width:70px;height:32px;line-height:39px;font-size:14px;top:0px;left:0px;}
.sc-set .set-play .p-line{width:150px;height:30px;border-bottom:1px solid #000000;left:72px;}
.set-play .img-search{width:24px;height:24px;left:195px;top:6px;}
.set-play .new-play{color:#32b268;left:240px;top:9px;font-size:14px;}
.eza-table-top .eza-font{ font-size: 16px;color:#333; white-space: nowrap;overflow:hidden;text-overflow: ellipsis;font-weight: 800;}
.search-bar-label1{float: left;font-size: 15px;line-height: 36px;}
.resetV a{color:red;}
.rightPading{padding-left:24px;}
/*role defined*/
.drama-init{
    position:absolute;left:260px;right:0px;top:15px;bottom:20px;letter-spacing: 1px;
    color: #000;
}
.drama-init-search{
    position: relative;
    margin-top: 20px;
}
.drama-init-search input{
    border: none;
    border-bottom: 1px solid #000000;
    padding: 0px 20px;
    box-shadow: none;
    outline: none;
    text-align: left;
}
.drama-init-search .drama-init-work{
    padding: 0px 0px 1px 0px;
    width: 40%;
}
.drama-init-search select{
    border: none;
    border-bottom: 1px solid #000000;
    box-shadow: none;
    outline: none;
    width: 20%;
    padding: 0px 10px 0px 20px;
}
.drama-init-search span{
    font-size: 15px;
}
.drama-init-btn{
    position: relative;
    left: -27px;
    font-size: 17px;
}
.drama-init-left{
    float: left;
    width: 40%;
}
.drama-init-right{
    width: 59%;
    float: right;
}
.drama-init-add{
    padding: 10px 0px;
    font-size:15px;
    font-weight:700;
}
.drama-init-title{
    margin-bottom: 20px;
    font-size:16px;
    font-weight:700;
}
.drama-init-text{
    font-size: 14px;
    text-indent: 28px;
    line-height: 20px;
}
#drama-init-add{
    color: green;
    float: right;
    font-size: 14px;
    cursor: pointer;
}
.search-bar-label-drama{float: left;line-height: 50px;}
.eza-input-select1{
    font-family: microsoft yahei;
    width: 114px;
    height: 37px;
    font-size:14px;
    line-height: 35px;
    vertical-align:0px;
    text-align: right;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius:1px;
    color: #afafaf;
    padding: 0px 35px 0px 20px;
    padding:5px 4px 5px 10px \0;
    padding:5px 10px 5px 10px \9;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url(../assets/image/select_bg_down.png) 95% 50% no-repeat transparent;
    background-image:none \0;
    background-image:none \9;
    outline:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-transition:border-color ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s;
    transition:border-color ease-in-out .15s;
    float: left;
}
.drama-init-addText{
    padding: 10px 80px;
}
.drama-init-addText input{
    border: 0;
    border-bottom: 1px solid #000;
    box-shadow: none;
    outline: 0;
}
.drama-init-addText p{
    margin-top: 50px;
}
.drama-init-true{
    padding: 0px!important;
    color: green!important;
    background: transparent;
    border: 1px solid transparent;
}
.drama-init-false{
    padding: 0px!important;
    color: #ff0000!important;
    background: transparent;
    border: 1px solid transparent;
}
.drama-init-edit:hover{
    padding: 4px 20px;
    cursor: pointer;
    border: 1px solid #0066ff;
    background-color: rgba(0, 0, 255, 0.09);
}
.drama-init-edit-click{
    padding: 4px 20px;
    border: 1px solid #0066ff;
    background-color: rgba(0, 0, 255, 0.09);
}
.fontWeight{font-weight:600;}
/*å‰§æœ¬ç®¡ç†-- ç¼–è¾‘*/
.pageBody-left1{float:left;width:60%}
.pageBody-right1{float:right;width:36%}
.search-bar-labeled{float: left;font-size: 15px;line-height: 52px;}
.eza-table .blue-fonts{color:#298ee5}
.eza-table .green-fonts{color:#32b268;}
.eza-table-caption1{margin-bottom:21px;position:relative;height:36px;}
.eza-table-caption1 span{position:absolute;}
.eza-table-caption1 span.big-title{font-size:20px;font-weight:600;color:#333;left:0px;height:32px;top:2px;}
.eza-table-caption1 span.sub-title{font-size:14px;color:#333;left:130px;height:22px;top:7px;display:inline-block;line-height:22px;}
.eza-table-caption1 span.tips-title{font-size:15px;color:#333;}
.eza-table-caption1 #postB{position:absolute;height:32px;top:2px;left:180px;}
.eza-table-caption1 .mainCount{left:350px;display:inline-block;height:22px;top:7px;}
.eza-table-caption1 .mainSource{left:480px;display:inline-block;height:22px;top:7px;}
.search-bar-label1{float: left;font-size: 15px;line-height: 30px;}
.eza-input-selected{
    font-family: microsoft yahei;
    width: 114px;
    height: 30px;
    font-size:14px;
    line-height: 32px;
    vertical-align:0px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius:1px;
    color: #afafaf;
    padding: 0px 35px 0px 40px;
    padding:5px 4px 5px 10px \0;
    padding:5px 10px 5px 10px \9;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url(../image/select_bg_down.png) 95% 50% no-repeat transparent;
    background-image:none \0;
    background-image:none \9;
    outline:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-transition:border-color ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s;
    transition:border-color ease-in-out .15s;
    float: left;
}
.playEditor-top{text-align:right;margin-top:-24px;margin-bottom:21px;}
.playEditor-top .blue-fonts{ cursor: pointer;
    font-family: microsoft yahei;
    padding:7px 28px;
    outline:0;font-size: 14px;vertical-align:0;border:1px solid transparent;
    color: #298ee5;background:transparent;text-align:right;
    color: #298ee5 !important;}
.playEditor-top .blue-fonts:hover{ font-family: microsoft yahei;
    padding:7px 28px;
    outline:0;font-size: 14px;vertical-align:0;border:1px solid #298ee5;
    color: #58595a;background:#f3faff;text-align: center;
    color: #58595a !important;}
/*å‰§æœ¬ç¼–è¾‘æ·»åŠ ä»¥åŠç¼–è¾‘*/
.drama-edit-title{
    margin: 0px 0px 20px 0px;
    font-size: 16px;
}
.drama-edit-text{
    margin: 10px auto;
    font-size: 14px;
}
.drama-edit-name{
    font-size: 20px;
    font-weight: 600;
}
.drama-edit-name1{
    font-size: 12px;
}
.drama-edit-yard{
    width: 90%;
    border: 1px solid #040000;
    min-height: 50px;
    clear: both;
    margin: 10px auto;
}
.drama-edit-select1{
    font-family: microsoft yahei;
    width: 100px;
    height: 37px;
    font-size:14px;
    line-height: 35px;
    vertical-align:0px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius:1px;
    color: #afafaf;
    padding: 0px 35px 0px 30px;
    padding:5px 4px 5px 10px \0;
    padding:5px 10px 5px 10px \9;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url(../image/select_bg_down.png) 95% 50% no-repeat transparent;
    background-image:none \0;
    background-image:none \9;
    outline:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-transition:border-color ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s;
    transition:border-color ease-in-out .15s;
    float: left;
}
.drama-edit-select2{
    margin-left: 15px;
    font-family: microsoft yahei;
    width: 100px;
    height: 37px;
    font-size:14px;
    line-height: 35px;
    vertical-align:0px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #000;
    border-radius:1px;
    color: #afafaf;
    padding: 0px 35px 0px 30px;
    padding:5px 4px 5px 10px \0;
    padding:5px 10px 5px 10px \9;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background: url(../image/select_bg_down.png) 95% 50% no-repeat transparent;
    background-image:none \0;
    background-image:none \9;
    outline:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-transition:border-color ease-in-out .15s;
    -o-transition:border-color ease-in-out .15s;
    transition:border-color ease-in-out .15s;
    float: left;
}
.drama-edit-content{
    border: 1px solid #000;
    width:calc(90% - 30px);
    min-height: 265px;
    max-height: 300px;
    overflow: auto;
    margin: 30px auto;
    padding: 10px 10px 10px 20px;
}
.drama-edit-label1{float: left;line-height: 43px;font-size:15px;}
.drama-edit-label3{float: left;line-height: 46px;font-size:15px;}
.drama-edit-label2{
    float: left;
    clear: both;
    margin-top: 20px;
    font-size:15px;
}
.drama-edit-label4{
    float: left;
    line-height: 41px;
    font-size:15px;
}